.app {
  display: flex;
  min-height: 100vh;
}

.side-menu {
  display: none;
}

.chat-box {
  flex: 1;
  position: relative;
  background: var(--primary-background-color);
}

@media (min-width: 768px) {
  .side-menu {
    width: 25%;
    padding: 10px;
    background-color: var(--secondary-background-color);
  }
}
