.app {
  display: flex;
  min-height: 100vh;
}

.side-menu {
  width: 25%;
  padding: 10px;
  background-color: var(--secondary-background-color);
}

.chat-box {
  flex: 1;
  position: relative;
  background: var(--primary-background-color);
}

@media (min-width: 1024px) {
  .side-menu {
    width: 260px;
    padding: 10px;
  }
}
