.header {
  text-align: center;
}

.main {
  height: 100vh;
  display: flex;
}

.sidemenu {
  width: 240px;
  padding: 10px;
  background-color: var(--secondary-background-color);
}

.chat {
  flex: 1;
  padding: 20px;
}

.footer {
  padding: 20px;
  text-align: center;
  color: var(--secondary-text-color);
}
