.chat-message.chatgpt {
  background-color: var(--third-background-color);
}

.chat-message-center {
  max-width: 640px;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 24px;
}

.message {
  padding-left: 10px;
  padding-right: 10px;
}

.avatar {
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
}

.avatar.chatgpt {
  min-width: 20px;
  min-height: 20px;
  background-color: var(--accent-color);
}

svg {
  display: none;
}

@media (min-width: 1024px) {
  .avatar {
    width: 40px;
    height: 40px;
  }

  .message {
    padding-left: 40px;
    padding-right: 40px;
  }

  .chat-message-center {
    padding: 12px;
    padding-left: 24px;
    padding-right: 24px;
  }

  svg {
    display: block;
    width: 40px;
    height: 40px;
  }
}
